* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Trispace", sans-serif;
  letter-spacing: -0.5px;
}

body {
  background-color: rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 99px;
}

nav {
  display: flex;
  margin-right: 165px;
}

li {
  margin-right: 19px;
  font-size: 18px;
  font-weight: 200;
}
li:hover {
  margin-right: 19px;
  font-size: 18px;
  font-weight: 200;
  color: dimgrey;
  transition: ease-in-out 0.9ms;
}

.mainsect {
  margin-left: 420px;
  max-width: 600px;
}

b {
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Silkscreen", cursive;
}

.info-text {
  margin-top: 23px;
  font-size: 18px;
  font-weight: 200;
}

#under {
  text-decoration: underline;
}
#under:hover {
  text-decoration: underline;
  color: dimgray;
  transition: ease-in-out 0.9ms;
}

@media screen and (max-width: 480px) {
  header {
    margin-left: 107px;
  }

  li {
    margin-right: 19px;
    font-size: 12px;
    font-weight: 200;
  }

  li:hover {
    margin-right: 19px;
    font-size: 12px;
    font-weight: 200;
    color: dimgrey;
    transition: ease-in-out 0.9ms;
  }

  .mainsect {
    margin-left: 40px;
    margin-right: 34px;
    max-width: 300px;
  }

  b {
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Silkscreen", cursive;
  }

  .info-text {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 200;
  }
}
