* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Trispace", sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.nav-bar-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 299px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

b {
  margin-right: 23px;
  font-family: "Silkscreen", cursive;
}

a {
  justify-content: space-around;
  margin-right: 11px;
  font-weight: 200;
}

@media screen and (max-width: 480px) {
  body {
    margin-left: 7px;
  }

  .nav-bar-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 409px;
  }

  li {
    font-size: 8px;
    padding-top: 5px;
  }

  b {
    margin-right: 17px;
    font-size: 11px;
    font-family: "Silkscreen", cursive;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 7px;
  }
}
